/* General Styling */
body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #111;
  border-radius: 10px;
}

/* Header */
header {
  background-color: #001f3f;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Forms */
.form-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap;
}

form {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  margin: 10px;
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

input {
  background-color: #111;
  color: white;
  border: 1px solid #61dafb;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Budget Overview */
.budget-overview {
  background-color: #222;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.budget-overview p {
  color: #61dafb;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  form {
    width: 90%;
  }
}
